*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.family-container{
    font-family: "Poppins", sans-serif !important;
}

/* NAVBAR-SECTION */

#brand-name{
    font-size: 33px;
    /* font-family: ; */
}

#nav-link{
    color: #000;
    /* font-family: ; */
    font-size: 14px;
    transition: all 300ms ease-in;
    margin-left: 10px;
    letter-spacing: 2.4px;
}
#nav{
    padding: 22px 10px 22px 60px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

#contain{
    width: 100%;
}

.pane{
    /* background-color: red; */
    width: fit-content;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.nav-img{
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
    width: 100%;
}


.nav-img-link img{
    position: absolute;
    width: 22px;
    transition: all 300ms ease-in;
    height: 22px;
}

#badge{
    position: relative;  
    margin: 13px 5px 0px 10px;
    height: 18px;
    width: 19px;
    font-size: 10px;
    background-color: #937c6f;
}

.nav-img-2{
    margin-left: 13px;
    margin-right: 6px;
}

.nav-menu{
    margin: 3px 0px 6px 45px;
    transition: all 300ms ease-in;
    /* background-color: #000; */
}

.nav-menu i{
    font-size: 22px;
    color: #937c6f;
    cursor: pointer;
}


/* Offcanvas section */
.offcanvas{
    width: 30%;
}

#Search-input{
    background-color: #937c6f6b;
    padding: 0 5px 0 10px;
    border-radius: 5px;
}

#Search-input input{
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    font-size: 14px;
}

#Search-input input::placeholder{
    color: #000;
}

#nav-links{
    color: #000;
    /* font-family: ; */
    font-size: 15px;
    margin-left: 10px;
}

/* body */

/* HOME SECTION */

#home-col{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/contact_bg.jpg');
    padding: 100px 0;
    color: #fff;
}

.home-content{
    width: 100%;
}

.home-content-title{
    font-size: 54px;
    text-transform: capitalize;
    font-weight: 300;
}

.home-content-subtitle{
    font-size: 18px;
    padding: 5px 13px;
    text-transform: capitalize;
    letter-spacing: 1px;
    gap: 3px;
    font-weight: 300;
    transition: all 700ms ease-in;
}

.home-content-link a:hover{
    color: #937c6f;
}

/* MAP SECTION */
.goggle-map{
    width: 100%;
    height: auto;
    /* background-position: center; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background: linear-gradient( to top, #afafaf59, #b8b4b46c);
    
}

/* form section */

.hero-form{
	background: #f9f5f5;
}

.form-title{
    font-size: 33px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 30px 0 80px 0;
}

#form-input-1{
    padding: 16px 0 16px 15px;
    font-size: 13px;
    font-style: italic;
	border: solid 1px #b5b5b5;
}

#form-input-1::placeholder{
    color: #808080f3;
}

.input-content{
    border: 1px solid #b5b5b5;
    padding: 5px 0 0px 5px;
    background: #fff;  
}


#form-input-2{
	width: 100%;
    border: none;
	outline: none;
	padding-left: 10px; 
	height: 234px;
	padding-top: 5px;
    font-style: italic;
    font-size: 14px;
}

#form-input-2::-webkit-scrollbar-track{
    background: #ddd;
    border: none;
    outline: none;
}

#form-input-2::-webkit-scrollbar{
	width: 6px;
    border: none;
    outline: none;
    height: auto;
    transition: all 700ms ease-in;
}

#form-input-2::-webkit-scrollbar-thumb{
    background: #61534b;
	border-radius: 5px;
}

#form-input-2::-webkit-scrollbar-thumb:hover{
    background: #2f2f2f;
    cursor: pointer;
}

#form-submit-btn{
    margin-top: 20px;
    background-color: #937c6f;
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 12px 24px;
    text-transform: uppercase;
    font-weight: 400;
}

#form-submit-btn:hover{
    background-color: #b5b5b5;
    color: #2f2f2f;
}

/* CONTACT INFO SECTION */

/* this code was cpied for the contact-info-links styles */
#footer-img-link{
    color: #937c6f;
    font-size: 20px;
    /* margin-left: 16px; */
    transition: all 300ms ease-in;
}

#footer-img-link:hover{
    color: #aeaeae;
}

#foot-img{
    /* margin: 40px 0; */
    gap: 10px;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}
#foot-img:first-child{
    gap: 0;
}

.contact-info-title{
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 66px;
}

.contact-info-text{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: all 700ms ease-in;
}

.contact-info-location{
    margin-bottom: 70px;
}

.contact-info-text p{
    margin: auto 6px;
}

/* FAQs sections */

#faq-card-header{
    background-color: #937c6f;
    font-size: 15px;
    transition: all 700ms ease-in;
}

.card-body{
    background-color: #e6e3e3;
    color: #2f2f2f;
    font-weight: 400;
    font-size: 14px;
    padding: 16px 24px !important;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

/* this code below was copied from the styles of the home-page  */
/* START */

/* News-Subscribe */

.news-text-subtitle{
    color: #fff;
    text-transform: uppercase;
    font-size: 19px; 
}

.news-text-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 62px;   
}

#news-form-search{
    font-size: 13px;
    background: #fff;
    padding: 12px 0px 12px 20px;
    width: 100%;
    border: none;
    outline: none;
}

#news-form-btn{
    background-color: #937c6f;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    transition: all 300ms ease-in;
    padding: 10px 30px;
}

#news-form-btn:hover{
    background-color: #aeaeae;
    color: #000;
}

.news{
    padding: 50px;
    margin: 0 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/newsletter.jpg');   
}

.news-text-info{
    font-size: 13px;
    margin: 0 50px;
}

#contain-2{
    padding: 30px 50px;
    margin: 50px 0;
}
.news-inner{
    padding-bottom: 50px;
    padding-top: 40px;
}

#row-10{
    padding: 20px 0;
}

.news-form-text{
    margin-top: 40px;
    padding: 0 50px;
}

#news-form{
    margin: 30px 50px;
}

/* footer section */

#contain-3{
    padding: 0 50px;
}

.footer-content{
    padding: 30px 50px 0 50px;
}

#footer-title{
    font-size: 56px;
    text-transform: capitalize;
    color: #2f2f2f;
}

#footer-link{
    color: #2f2f2f;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 600;
    transition: all 300ms ease-in;
}

#footer-link:hover{
    color: #937c6f;
}

#footer-img-link{
    color: #937c6f;
    font-size: 25px;
    margin-left: 16px;
    transition: all 300ms ease-in;
}

#footer-img-link:hover{
    color: #aeaeae;
}

.footer-info{
    font-size: 14px;
}

#foot-img{
    margin: 40px 0;
}


/* STOP */


/* mobile response */
@media screen and (max-width: 768px) {

    /* NAVBAR SECTION */
    #nav-link{
        display: none;
    }

    .pane{
        margin: 0;
    }

    #contain{
        width: fit-content;
        justify-self: flex-end;
    }

    #nav{
        padding: 17px 20px 20px 16px;
        display: flex;
        justify-content: space-between;
    }

    .offcanvas{
        width: 100%;
    }

    .nav-img-link img{
        width: 20px;
        height: 20px;
    }

    #badge{
        width: auto;
        text-align: center;
        height: auto;
    }

    #brand-name{
        font-size: 30px;
    }

    /* home-contsiner */

    .home-content-title{
        font-size: 40px;
        text-align: center;
    }

    .home-content-subtitle{
        font-size: 16px;
        padding: 5px 6px;
        text-align: center;
        justify-content: center;
    }

    /* form section */

    .form-title{
        font-size: 30px;
    }

    /* faq / contact section */
    .contact-info-title{
        font-size: 34px;
        margin-bottom: 40px;
    }

    .contact-info-text{
        font-size: 14px;
        margin-bottom: 16px;
    }


    .contact-info-location{
        margin-bottom: 50px;
    }
    

    /* this code was copied from the styles of the homepage */
    /* START */

    /* NEWS SUBSCRIBE SECTION */

    .news-text-title{
        font-size: 26px;
    }

    .news-text-subtitle{
        font-size: 14px;
    }

    #news-form{
        background-color: none;
        display: flex;
        flex-direction: column;
        margin: 30px 30px;
    }

    #news-form-search{
        background-color: #fff;
        padding: 8px 0px 8px 8px;
        width: 100%;
        font-size: 12px;
    }

    #news-form-btn{
        width: fit-content;
        /* font-size: 8px; */
        margin: 5px auto;
        font-size: 12px;
        padding: 3px 10px;
    }

    .news{
        padding: 10px;
        margin: 0 10px;
    }

    .news-text-info{
        font-size: 11px;
        margin: auto;
        text-align: center;
        justify-content: center;
    }

    #contain-2{
        padding: 10px 0px;
    }
    .news-inner{
        padding-bottom: 40px;
        padding-top: 35px;
    }

    #row-10{
        padding: 15px 0;
    }

    .news-form-text{
        margin-top: 40px;
        padding: 0 10px;
    }

    /* FOOTER SECTOIN */
    #footer-img-link{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
    }


    #contain-3{
        padding: 0 10px;
    }

    .footer-content{
        padding: 10px 10px 0 10px;
    }

    #footer-title{
        font-size: 43px;
    }

    #footer-link{
        letter-spacing: 2px;
        font-size: 12px;
    }

    #footer-img-link{
        font-size: 20px;
        margin-left: 5px;
    }

    .footer-info{
        font-size: 12px;
    }

    #foot-img{
        margin: 30px 0;
    }

    /* STOP */
}

@media screen and (max-width: 425px) {
    
    .form-title{
        text-align: start;
        margin: 20px 0 55px 10px;
    }
}

@media screen and (max-width: 375px) {
    
    #contact-info-icon{
        /* background-color: #000; */
        width: 24px;
        height: 24px;
        margin: auto 5px;
    }
}