*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

/* START */

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Lucida';
	src: url('./fonts/beyond_the_mountains.ttf')  format('truetype');
}
@font-face
{
	font-family: 'Lucida';
	src: url('./fonts/lucida_bright_demi.ttf')  format('truetype');
	font-weight: 700;
}
@font-face
{
font-family: 'Beyond';
src: url('./fonts/beyond_the_mountains.otf')  format('opentype'),
        url('./fonts/beyond_the_mountains.ttf')  format('truetype');
}


/* STOP */

.family-container{
    /* font-family: "Poppins", sans-serif !important; */
	font-family: 'Open Sans', sans-serif !important;
}

/* navbar section */

#brand-name{
    font-size: 33px;
	/* font-family: 'Lucida', serif; */
}

#nav-link{
    color: #000;
    /* font-family: ; */
    font-size: 14px;
    letter-spacing: 2.4px;
    transition: all 300ms ease-in;
    margin-left: 10px;
}
#nav{
    padding: 26px 10px 26px 60px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

#contain{
    width: 100%;
}

.pane{
    /* background-color: red; */
    width: fit-content;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.nav-img{
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
    width: 100%;
}


.nav-img-link img{
    position: absolute;
    width: 22px;
    transition: all 300ms ease-in;
    height: 22px;
}

#badge{
    position: relative;  
    margin: 13px 5px 0px 10px;
    height: 18px;
    width: 19px;
    font-size: 10px;
    background-color: #937c6f;
}

.nav-img-2{
    margin-left: 13px;
    margin-right: 6px;
}

.nav-menu{
    margin: 3px 0px 6px 45px;
    transition: all 300ms ease-in;
    /* background-color: #000; */
}

.nav-menu i{
    font-size: 22px;
    color: #937c6f;
    cursor: pointer;
}


/* Offcanvas section */

#Search-input{
    background-color: #937c6f6b;
    padding: 0 5px;
    border-radius: 5px;
}

#Search-input input{
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
}

#Search-input input::placeholder{
    color: #000;
}

#nav-links{
    color: #000;
    /* font-family: ; */
    font-size: 15px;
    margin-left: 10px;
}

/* body */

/* HOME SECTION */

#home-col{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/contact_bg.jpg');
    color: #fff;
    padding: 100px 0;
}

.home-content{
    width: 100%;
    /* background-color: blue; */
    margin: auto 0;
}

.home-content-title{
    font-size: 48px;
    text-transform: capitalize;
    font-weight: 300;
}

.home-content-subtitle{
    font-size: 18px;
    padding: 5px 13px;
    text-transform: capitalize;
    letter-spacing: 1px;
    gap: 4px;
    font-weight: 300;
}

.home-content-link{
    gap: 3px;
}

.home-content-link a:hover{
    color: #937c6f;
}


/* CHECKOUT FORM */
.billing-info input::placeholder{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

#select{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;   
}


#form-input-2::placeholder{
    color: #000;
}

#form-input-2{
	width: 100%;
    /* border: none; */
	outline: none;
	height: 234px;
    padding: 23px 0 0 23px;
    font-size: 14px;
}

#form-input-2::-webkit-scrollbar-track{
    background: #ddd;
    border: none;
    outline: none;
}

#form-input-2::-webkit-scrollbar{
	width: 6px;
    border: none;
    outline: none;
    height: auto;
    transition: all 700ms ease-in;
}

#form-input-2::-webkit-scrollbar-thumb{
    background: #61534b;
	border-radius: 5px;
}

#form-input-2::-webkit-scrollbar-thumb:hover{
    background: #2f2f2f;
    cursor: pointer;
}

.check-input{
    margin-top: 30px;
}

#check-me{
    margin-right: 10px;
    cursor: pointer;
}

.checks p{
    margin: auto 0;
    font-size: 14px;
    font-weight: 500;
}

/* CART SECTION */
.cart{
    background: #f9f5f5;
    padding: 50px;
}

.cart-list-container{
    background: transparent;
    margin: 30px 0 50px 0;
}

.list-group-item{
    background: transparent !important;
}

.cart-header{
    margin: 30px 0 30px 25px;
    color: #2f2f2f;
    font-size: 34px;
    text-transform: uppercase;
}

.list-group-item span{
    color: #2f2f2f;
    font-size: 14px;
    text-transform: capitalize;
}

.cart-radio p{
    margin: auto 15px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
}

.cart-checks{
    margin-bottom: 35px;
}

#cart-btn{
    background-color: #937c6f;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 13px;
    padding: 13px 0;
}

#cart-btn:hover{
    background-color: #ddd;
}

/* infos */

.service-title{
    font-weight: 500;
    font-size: 17px;
    color: #2f2f2f;
    text-transform: capitalize;
}

.service-info{
    padding: 14px;
    border: 1px solid #8080809f;
}

.service-status{
    font-size: 13px;
    color: #6e6d6d;
}

#row-3{
    margin: 100px 0;
}


/* News Subscribe: this style was copied from homepage */

.news-text-subtitle{
    color: #fff;
    text-transform: uppercase;
    font-size: 19px; 
}

.news-text-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 62px;   
}

#news-form-search{
    font-size: 13px;
    background: #fff;
    padding: 12px 0px 12px 20px;
    width: 100%;
    border: none;
    outline: none;
}

#news-form-btn{
    background-color: #937c6f;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    transition: all 300ms ease-in;
    padding: 10px 30px;
}

#news-form-btn:hover{
    background-color: #aeaeae;
    color: #000;
}

.news{
    padding: 50px;
    margin: 0 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/newsletter.jpg');   
}

.news-text-info{
    font-size: 13px;
    margin: 0 50px;
}

#contain-2{
    padding: 30px 50px;
    margin: 50px 0;
}
.news-inner{
    padding-bottom: 50px;
    padding-top: 40px;
}

#row-10{
    padding: 20px 0;
}

.news-form-text{
    margin-top: 40px;
    padding: 0 50px;
}

#news-form{
    margin: 30px 50px;
}


/* footer section : this page was copied from the homepage*/

#contain-3{
    padding: 0 50px;
}

.footer-content{
    padding: 30px 50px 0 50px;
}

#footer-title{
    font-size: 56px;
    text-transform: capitalize;
    color: #2f2f2f;
}

#footer-link{
    color: #2f2f2f;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 600;
    transition: all 300ms ease-in;
}

#footer-link:hover{
    color: #937c6f;
}

#footer-img-link{
    color: #937c6f;
    font-size: 25px;
    margin-left: 16px;
    transition: all 300ms ease-in;
}

#footer-img-link:hover{
    color: #aeaeae;
}

.footer-info{
    font-size: 14px;
}

#foot-img{
    margin: 40px 0;
}


@media screen and (max-width: 768px) {

    /* NAVBAR SECTION */
    #nav-link{
        display: none;
    }

    .pane{
        margin: 0;
    }

    #contain{
        width: fit-content;
        justify-self: flex-end;
    }

    #nav{
        padding: 17px 20px 20px 16px;
        display: flex;
        justify-content: space-between;
    }

    .offcanvas{
        /* width: 100%; */
    }

    .nav-img-link img{
        width: 20px;
        height: 20px;
    }

    #badge{
        width: auto;
        text-align: center;
        height: auto;
    }

    #brand-name{
        font-size: 30px;
    }

    /* home-container */

    .home-content-title{
        font-size: 42px;
    }

    .home-content-subtitle{
        padding: 5px 6px;
    }

    .service-title{
        font-size: 15px;
    }

    /* News subscribe */

    .news-text-title{
        font-size: 26px;
    }

    .news-text-subtitle{
        font-size: 14px;
    }

    #news-form{
        background-color: none;
        display: flex;
        flex-direction: column;
        margin: 30px 30px;
    }

    #news-form-search{
        background-color: #fff;
        padding: 8px 0px 8px 8px;
        width: 100%;
        font-size: 12px;
    }

    #news-form-btn{
        width: fit-content;
        /* font-size: 8px; */
        margin: 5px auto;
        font-size: 12px;
        padding: 3px 10px;
    }

    .news{
        padding: 10px;
        margin: 0 10px;
    }

    .news-text-info{
        font-size: 11px;
        margin: auto;
        text-align: center;
        justify-content: center;
    }

    #contain-2{
        padding: 10px 0px;
    }
    .news-inner{
        padding-bottom: 40px;
        padding-top: 35px;
    }

    #row-10{
        padding: 15px 0;
    }

    .news-form-text{
        margin-top: 40px;
        padding: 0 10px;
    }


    /* FOOTER SECTOIN */
    #footer-img-link{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
    }


    #contain-3{
        padding: 0 10px;
    }

    .footer-content{
        padding: 10px 10px 0 10px;
    }

    #footer-title{
        font-size: 43px;
    }

    #footer-link{
        letter-spacing: 2px;
        font-size: 12px;
    }

    #footer-img-link{
        font-size: 20px;
        margin-left: 5px;
    }

    .footer-info{
        font-size: 12px;
    }

    #foot-img{
        margin: 30px 0;
    }

    
}

@media screen and (max-width: 425px) {
    /* HOME SECTION */
    .home-content-title{
        /* font-size: 40px; */
        text-align: center;
    }

    .home-content-subtitle{
        text-align: center;
        justify-content: center;
        font-size: 16px;
        gap: 3px;
    }

    #home-col{
        padding:60px 0;
    }

    .home-content{
        margin: 50px 0 20px 0;
    }

    .home-content-subtitle{
        gap: 2px;
    }

    .home-content-link{
        font-size: 13px;
        gap: 2px;
    }

    .home-content-text{
        font-size: 13px;
    }
}