*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* START */

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Lucida';
	src: url('./fonts/beyond_the_mountains.ttf')  format('truetype');
}
@font-face
{
	font-family: 'Lucida';
	src: url('./fonts/lucida_bright_demi.ttf')  format('truetype');
	font-weight: 700;
}
@font-face
{
	font-family: 'Beyond';
	src: url('./fonts/beyond_the_mountains.otf')  format('opentype'),
		 url('./fonts/beyond_the_mountains.ttf')  format('truetype');
}


/* STOP */

.family-container{
    /* font-family: "Poppins", sans-serif !important; */
	font-family: 'Open Sans', sans-serif !important;
}

/* navbar section */

#brand-name{
    font-size: 33px;
	/* font-family: 'Lucida', serif; */
}

#nav-link{
    color: #000;
    /* font-family: ; */
    font-size: 14px;
    letter-spacing: 2.4px;
    transition: all 300ms ease-in;
    margin-left: 10px;
}
#nav{
    padding: 26px 10px 26px 60px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

#contain{
    width: 100%;
}

.pane{
    /* background-color: red; */
    width: fit-content;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.nav-img{
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
    width: 100%;
}


.nav-img-link img{
    position: absolute;
    width: 22px;
    transition: all 300ms ease-in;
    /* height: 22px; */
}

#badge{
    position: relative;  
    margin: 13px 5px 0px 10px;
    height: 18px;
    width: 19px;
    font-size: 10px;
    background-color: #937c6f;
}

.nav-img-2{
    margin-left: 13px;
    margin-right: 6px;
}

.nav-menu{
    margin: 3px 0px 6px 45px;
    transition: all 300ms ease-in;
    /* background-color: #000; */
}

.nav-menu i{
    font-size: 22px;
    color: #937c6f;
    cursor: pointer;
}


/* Offcanvas section */
.offcanvas{
    width: 30%;
}

#Search-input{
    background-color: #937c6f6b;
    padding: 0 5px;
    border-radius: 5px;
}

#Search-input input{
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
}

#Search-input input::placeholder{
    color: #000;
}

#nav-links{
    color: #000;
    /* font-family: ; */
    font-size: 15px;
    margin-left: 10px;
}


/* carousel section */
#carousel{
    width: 100%;
    height: auto;
    background: #000;
}

#carousel-control-btn{
    width: 15px;
    height: 13px;
    background-color: #2f2f2f;
    border-radius: 50%;
    margin-right: 16px;
}

.promo-img{
    background-image: url('./images/cloth.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    padding: 250px 0;
}

.inner-up{
    width: fit-content;
    margin: 0 auto;
    padding: 6px 30px;
    background-color: #2f2f2f;
    color: #ddd;
    font-size: 19px;
    text-transform: capitalize;
}

.inner-down{
    width: fit-content;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 20px 24px;
    background: #937c6f;
    font-weight: 500;
    color: #fff;
    font-size: 50px;
	/* font-family: 'Lucida', serif; */
}

#carousel-next-btn{
    background-color: #937c6f;
    filter: blur(0.5px);
    border-radius: 50%;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    margin: auto 20px;
}

#carousel-next-btn:hover{
    background-color: #2f2f2f;
}

/* Promo (row and column section) */

.promo-item-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    padding: 120px 0;
}

#promo-col-1{
    background-image: url('./images/promo_1.jpg');
}

#promo-col-2{
    background-image: url('./images/promo_2.jpg');
}

#promo-col-3{
    background-image: url('./images/promo_3.jpg');
    padding: auto 0;
}

.promo-item-text{
    background-color: #2f2f2f;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 15px;
    text-transform: capitalize;
    font-size: 19px;
}

.promo-item-text:hover{
    background-color: #202020;
    color: #937c6f;
    transition: all 200ms ease-in;
}

.promo-item-img-text{
    background-color: #2f2f2fbb;
    padding: 10px 0;
    color: #fff;
}

#promo-item-img-text-1{
    text-align: right;
    justify-content: right;
    background: transparent;
}

#promo-item-img-text-3{
    width: fit-content;
    text-align: left;
    justify-content: left;
    margin-left: 12px;
    margin-top: -30px;
    padding: 27px 10px;
    /* position: absolute; */
}

.promo-item-title{
    font-size: 35px;
}

.promo-item-subtitle{
    font-size: 14px;
}

.promo-subtitle{
    padding: 6px 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #937c6f;
    text-transform: uppercase;
    /* background-color: #000; */
    /* width: fit-content; */
    /* margin: 0 auto; */
}

.promo-title{
    color: #2f2f2f;
    text-transform: uppercase;
    font-size: 57px;
}

/* Arrivals section */

.Arrivals-subtitle{
    padding: 6px 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #937c6f;
    text-transform: uppercase;
}

.Arrivals-title{
    color: #2f2f2f;
    text-transform: uppercase;
    font-size: 57px;
}


.arrival-text{
    gap: 10px;
}

.rating{
    font-size: 12px;
    color: #d6b705da;
}

.rating .fa:last-child{
    color: #ddd;
}

.arrival-text-info{
    width: auto;
}

.arrival-text-info-img{
    width: auto;
    height: auto;
    gap: 10px;
    margin-top: 5px;
}

.arrival-text-info-img img{
    width: 40px;
    height: 40px;
    padding: 8px;
    background-color: #937c6f;
    cursor: pointer;
}

.arrival-text-info-img img:hover{
    color: #fff;
    background-color: #2f2f2f;
}

.arrival-text-info-img-add{
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: #ddd;
    cursor: pointer;
}

.arrival-text-info-img-add:hover{
    color: #fff;
    background-color: #2f2f2f;
    transition: all 300ms ease-in-out;
}

#arrival-text-info-link-2{
    color: #808080e1;
    margin-top: -17px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 23px;
}

.arrival-text-info-link{
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
	color: #232323;
    text-transform: capitalize;
    transition: all 700ms ease-in;
}

#arrival-text-info-link-1:hover{
    color: #937c6f;
}


/* HERO-1 SECTION */

.hero-content{
    text-align: center;
    padding: 40px 100px 40px 40px;
    margin: 10px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-percent-1{
    font-size: 57px;
	font-family: 'Lucida', serif;
}

#hero-1-content{
    background-image: url('./images/extra_1.jpg');
}

#hero-2-content{
    background-image: url('./images/extra_2.jpg');
    border: 2px solid #937c6f;
    padding: 5px 100px 10px 40px;
}

.hero-inner{
    background-color: #202020da;
    padding: 78px 0;
    color: #fff;
    border: 2px solid #937c6f;
    border-radius: 5px;
    outline: none;
}

#hero-2-inner{
    background: transparent;
    padding: 50px 0;
    border: none;
    color: #000;
}

.hero-1-inner-percent{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
}

#hero-percent-text{
    margin: auto 6px;
	font-family: 'Lucida', serif;
}

.hero-1-inner-title{
    padding: 10px 0;
    font-size: 28px;
    color: #937c6f;   
}

.hero-1-inner-text{
    font-size: 12px;
	color: #aeaeae;
    padding: 10px 15px;    
}

#hero-1-inner-btn{
    width: fit-content;
    padding: 12px 24px;
    margin: 20px auto;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #937c6f;
    color: #fff;
}

#hero-1-inner-btn:hover{
    background-color: #aeaeae;
    color: #202020;
}

#hero-percent-text-1{
    color: #937c6f;
    position: absolute;
    font-size: 160px;
	/* font-family: 'Lucida', serif; */
    /* background-color: #000; */
}

#hero-percent-2{
    position: relative;
    font-size: 90px;
    /* font-family: Comic Sans MS; */
    /* margin-bottom: px; */
    margin-right: 80px;
    color: #000;
	font-family: 'Lucida', serif;
}

#hero-percent-3{
    position: relative;
    font-size: 90px;
    /* font-family: Comic Sans MS; */
    /* margin-top: px; */
    margin-right: 70px;
    color: #000;
	font-family: 'Lucida', serif;

}

/* hero 2 section */

.hero-2{
    text-align: center;
    padding: 70px 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/gallery.jpg');
}

.hero-2-link{
    margin: 0 auto;
    color: #fff;
}

.hero-2-text{
    color: #aeaeae;
    font-size: 13px;
    padding: 0px 15px;
}

#hero-2-links{
    display: inline-block;
    margin-right: 25px;
}

#hero-2-links:hover{
    color: #937c6f;
    transition: all 400ms ease-in;
}

#hero-2-btn{
    width: fit-content;
    padding: 10px 30px;
    margin: 15px auto;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #937c6f;
    color: #fff;
}

#hero-2-btn:hover{
    background-color: #aeaeae;
    color: #202020;   
}

.hero-2-img{
    width: 160px;
    border-radius: 4px;
    height: 100%;
    margin-right: 20px;
    cursor: pointer;
}

.test-text-subtitle{
    padding: 6px 0;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #937c6f;
    text-transform: uppercase;
}

.test-text-title{
    color: #2f2f2f;
    text-transform: uppercase;
    font-size: 57px;
}

.test-item-text{
    color: #aeaeae;
    font-size: 23px;
}


.test-item-profile-title{
    text-transform: uppercase;
}

.test-item-profile-subtitle{
    color: #937c6f;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
}

/* News-Subscribe */

.news-text-subtitle{
    color: #fff;
    text-transform: uppercase;
    font-size: 19px; 
}

.news-text-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 62px;   
}

#news-form-search{
    font-size: 13px;
    background: #fff;
    padding: 12px 0px 12px 20px;
    width: 100%;
    border: none;
    outline: none;
}

#news-form-btn{
    background-color: #937c6f;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    transition: all 300ms ease-in;
    padding: 10px 30px;
}

#news-form-btn:hover{
    background-color: #aeaeae;
    color: #000;
}

.news{
    padding: 50px;
    margin: 0 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/newsletter.jpg');   
}

.news-text-info{
    font-size: 13px;
    margin: 0 50px;
}

#contain-2{
    padding: 30px 50px;
    margin: 50px 0;
}
.news-inner{
    padding-bottom: 50px;
    padding-top: 40px;
}

#row-10{
    padding: 20px 0;
}

.news-form-text{
    margin-top: 40px;
    padding: 0 50px;
}

#news-form{
    margin: 30px 50px;
}

/* footer section */

#contain-3{
    padding: 0 50px;
}

.footer-content{
    padding: 30px 50px 0 50px;
}

#footer-title{
    font-size: 56px;
    text-transform: capitalize;
    color: #2f2f2f;
}

#footer-link{
    color: #2f2f2f;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 600;
    transition: all 300ms ease-in;
}

#footer-link:hover{
    color: #937c6f;
}

#footer-img-link{
    color: #937c6f;
    font-size: 25px;
    margin-left: 16px;
    transition: all 300ms ease-in;
}

#footer-img-link:hover{
    color: #aeaeae;
}

.footer-info{
    font-size: 14px;
}

#foot-img{
    margin: 40px 0;
}


/* mobile response */
@media screen and (max-width: 768px) {

    /* NAVBAR SECTION */

    #nav-link{
        display: none;
    }

    .pane{
        margin: 0;
    }

    #contain{
        width: fit-content;
        justify-self: flex-end;
    }

    #nav{
        padding: 17px 20px 20px 16px;
        display: flex;
        justify-content: space-between;
    }

    .offcanvas{
        width: 100%;
    }

    .inner-down{
        font-size: 32px;
        font-weight: 400;
    }

    .promo-title{
        font-size: 33px;
    }
    
    #carousel-next-btn{
        display: none;
    }

    .nav-img-link img{
        width: 20px;
        height: 20px;
    }

    #badge{
        width: auto;
        text-align: center;
        height: auto;
    }

    #brand-name{
        font-size: 30px;
    }

    /* ARRIVALS SECTION */

    .Arrivals-title{
        font-size: 35px;
    }


    /* TESTIMONIAL SECTION */
    .test-text-title{
        font-size: 35px;
    }

    .test-item-text{
        font-size: 16px;
    }

    /* NEWS SUBSCRIBE SECTION */

    .news-text-title{
        font-size: 26px;
    }

    .news-text-subtitle{
        font-size: 14px;
    }

    #news-form{
        background-color: none;
        display: flex;
        flex-direction: column;
        margin: 30px 30px;
    }

    #news-form-search{
        background-color: #fff;
        padding: 8px 0px 8px 8px;
        width: 100%;
        font-size: 12px;
    }

    #news-form-btn{
        width: fit-content;
        /* font-size: 8px; */
        margin: 5px auto;
        font-size: 12px;
        padding: 3px 10px;
    }

    .news{
        padding: 10px;
        margin: 0 10px;
    }

    .news-text-info{
        font-size: 11px;
        margin: auto;
        text-align: center;
        justify-content: center;
    }

    #contain-2{
        padding: 10px 0px;
    }
    .news-inner{
        padding-bottom: 40px;
        padding-top: 35px;
    }

    #row-10{
        padding: 15px 0;
    }

    .news-form-text{
        margin-top: 40px;
        padding: 0 10px;
    }

    /* FOOTER SECTOIN */
    #footer-img-link{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
    }


    #contain-3{
        padding: 0 10px;
    }

    .footer-content{
        padding: 10px 10px 0 10px;
    }

    #footer-title{
        font-size: 43px;
    }

    #footer-link{
        letter-spacing: 2px;
        font-size: 12px;
    }

    #footer-img-link{
        font-size: 20px;
        margin-left: 5px;
    }

    .footer-info{
        font-size: 12px;
    }

    #foot-img{
        margin: 30px 0;
    }


    /* HERO SECTION */

    .hero-content{
        text-align: center;
        justify-content: center;
        padding: 20px;
    }

    #hero-percent-1{
        font-size: 40px;
    }

    .hero-inner{
        padding: 20px 0;
    }

    #hero-2-content{
        padding: 0 220px 0 20px ;
        /* background: blue;    */
    }

    #hero-2-inner{
        background: transparent;
        padding: 20px 0;
    }

    #hero-percent-text{
        margin: auto 6px;
    }

    .hero-1-inner-title{
        padding: 8px 0;
        font-size: 24px;  
    }

    .hero-1-inner-text{
        font-size: 12px;
        padding: 5px 10px;    
    }

    #hero-1-inner-btn{
        padding: 8px 18px;
        font-size: 13px;
        letter-spacing: 3px;
    }

    #hero-percent-2{
        /* margin-bottom: 20px; */
        margin-right: 80px;
        font-size: 80px;
    }

    #hero-percent-3{
        /* margin-top: 16px; */
        margin-right: 80px;
        font-size: 80px;
    }

}


@media screen and (max-width: 425px) {
    #hero-percent-2{
        /* margin-bottom: 20px; */
        margin-right: 30px;
        font-size: 70px;
    }

    #hero-percent-3{
        /* margin-top: 16px; */
        margin-right: 30px;
        font-size: 70px;
    }

    #hero-2-content{
        padding: 0;
        /* background: blue; */   
    }

    .test-item-text{
        font-size: 14px;
    }
}