*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.family-container{
    font-family: "Poppins", sans-serif !important;
}

/* navbar section */

#brand-name{
    font-size: 35px;
	font-family: 'Lucida', serif;
    /* font-family: ; */
}

#nav-link{
    color: #000;
    /* font-family: ; */
    font-size: 14px;
    transition: all 300ms ease-in;
    margin-left: 10px;
    letter-spacing: 2.4px;
}
#nav{
    padding: 22px 10px 22px 60px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

#contain{
    width: 100%;
}

.pane{
    /* background-color: red; */
    width: fit-content;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.nav-img{
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
    width: 100%;
}


.nav-img-link img{
    position: absolute;
    width: 22px;
    transition: all 300ms ease-in;
    height: 22px;
}

#badge{
    position: relative;  
    margin: 13px 5px 0px 10px;
    height: 18px;
    width: 19px;
    font-size: 10px;
    background-color: #937c6f;
}

.nav-img-2{
    margin-left: 13px;
    margin-right: 6px;
}

.nav-menu{
    margin: 3px 0px 6px 45px;
    transition: all 300ms ease-in;
    /* background-color: #000; */
}

.nav-menu i{
    font-size: 22px;
    color: #937c6f;
    cursor: pointer;
}


/* Offcanvas section */
.offcanvas{
    width: 30%;
}

#Search-input{
    background-color: #937c6f6b;
    padding: 0 5px;
    border-radius: 5px;
}

#Search-input input{
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
}

#Search-input input::placeholder{
    color: #000;
}

#nav-links{
    color: #000;
    /* font-family: ; */
    font-size: 15px;
    margin-left: 10px;
}


/* CAROUSEL SECTION */
#carousel{
    width: 100%;
    height: auto;
    background: #000;
}

#carousel-control-btn{
    width: 15px;
    height: 13px;
    background-color: #2f2f2f;
    border-radius: 50%;
    margin-right: 16px;
}

.promo-img{
    background-image: url('./images/contact_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* text-align: center;
    justify-content: center; */
    padding: 130px 0;
    /* height: 300px; */
    /* width: 100%; */
}

.inner-up{
    text-transform: capitalize;
    font-size: 40px;
    color: #fff;
	line-height: 0.75;
    margin-bottom: 10px;
	font-family: 'Lucida', serif;
}

#inner-down{
    gap: 3px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
	font-family: 'Lucida', serif !important;
}

#inner-down .inner-down-link:hover{
    transition: all 700ms ease-in;
    color: #937c6f;
}

#carousel-next-btn{
    background-color: #937c6f;
    filter: blur(0.5px);
    border-radius: 50%;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    margin: auto 20px;
}

#carousel-next-btn:hover{
    background-color: #2f2f2f;
}

/* PRODUCT SECTION */

.list-header{
	background: #e0e3e4;
	color: #232323;
    padding: 15px 20px;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.list-container{
    border: 1px solid #ddd;
    transition: all 500ms ease-in;
}

.list-container:hover{
	border: 1px solid #937c6f;
    transition: all 500ms ease-in;
}

.list-container:hover .list-group-item{
	border-color: #937c6f;
    transition: all 500ms ease-in;
}

.list-container:hover .list-header{
    background: #937c6f;
	color: #FFFFFF;
    transition: all 500ms ease-in;
}

.list-group-item{
    border-right: none;
    border-top: 1px solid #ddd;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.5px;

    /* -webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease; */
}

#list-link{
    width: fit-content;

}
#best-info-btn{
    justify-content: center;
    padding: 4px 8px;
    width: fit-content;
    height: fit-content;
    margin-top: 33px;
    text-align: center;
    background: #937c6f;
    color: #fff;
}

#sellers-price{
    color: #937c6f;
    font-weight: 600;
    font-size: 17px;
}

.service-title{
    font-weight: bold;
    font-size: 17px;
    color: #2f2f2f;
}

.service-info{
    padding: 14px;
}

.service-status{
    font-size: 13px;
    color: #6e6d6d;
}

#price-btn{
    background-color: #937c6f;
    color: #fff;
    transition: all 400ms ease-in;
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

#price-btn:hover{
    color: #2f2f2f;
    background-color: #e0e3e4;
}


/* scroolbar for the color area of the grid */

#color-content{
    overflow-y: scroll;
    height: 160px;
    transition: all 700ms ease-in;
    position: relative;
}

#color-content::-webkit-scrollbar{
    display: none;
    transition: all 700ms ease-in;
}


.list-container:hover #color-content::-webkit-scrollbar-track{
    background: #ddd;
    border: none;
    outline: none;
}

.list-container:hover #color-content::-webkit-scrollbar{
    display: block;
	width: 4px;
    border: none;
    outline: none;
}

.list-container:hover #color-content::-webkit-scrollbar-thumb{
	/* background: linear-gradient(23deg, #e2e1e1, #0be40bbd); */
    background: #61534b;
	border-radius: 5px;
}

.list-container:hover #color-content::-webkit-scrollbar-thumb:hover{
	/* background: #3cff3cec; */
	cursor: pointer;
}

#color-product-selector{
    padding: 1px 10px;
    margin-right: 10px;
}


/* FASHION SECTION */

.fashion-header{
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 10px;
    text-transform: capitalize;
}

#row-2{
    margin-bottom: 23px;
}

/* Fashion-img */

#fashion-icons-1{
    color: #fff;
    background-color: #937c6f;
}

#fashion-icons-2{
    background-color: #000;
    color: #fff;
}

/* Fashion-select*/

/* #hero-select-1{
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #6e6d6d;
    width: 100%;
} */

/* #drop{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    background: transparent;
    cursor: pointer;
    color: #313030;
    text-transform: capitalize;
    font-size: 14px;
} */


#row-3{
    margin-bottom: 50px;
}

#drop-toggle-btn{
    background-color: #fff;
    border: 1px solid #6e6d6d;
    cursor: pointer;
    color: #313030;
    text-transform: capitalize;
    padding: 8px;
    font-size: 14px;
}

/* option #drop-item:hover{
    background-color: #61534b;
    color: #fff;
    cursor: pointer;
} */

li.dropdown-item{
    border-top: 0.5px solid #6e6d6d3a;
    width: 90%;
    margin: 0 auto;
}

li.dropdown-item:first-child{
    border: none;
}

li.dropdown-item:hover{
    cursor: pointer;
    color: #6e6d6d;
}


/* HERO SECTION : this lines of code withen t
his hero section was copied from the home page */

.rating{
    font-size: 12px;
    color: #d6b705da;
}

.rating .fa:last-child{
    color: #ddd;
}

.arrival-text-info{
    width: auto;
}

.arrival-text-info-img{
    width: auto;
    height: auto;
    gap: 10px;
    margin-top: 5px;
}

.arrival-text-info-img img{
    width: 40px;
    height: 40px;
    padding: 8px;
    background-color: #937c6f;
    cursor: pointer;
}

.arrival-text-info-img img:hover{
    color: #fff;
    background-color: #2f2f2f;
}

.arrival-text-info-img-add{
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: #ddd;
    cursor: pointer;
}

.arrival-text-info-img-add:hover{
    color: #fff;
    background-color: #2f2f2f;
    transition: all 300ms ease-in-out;
}

#arrival-text-info-link-2{
    color: #808080e1;
    margin-top: -17px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 23px;
}

.arrival-text-info-link{
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.hero{
    margin: 80px 0; 
}


/* HERO-2 SECTION: This styles was copied from the homepage */


.hero-content-1{
    text-align: center;
    justify-items: center;
    padding: 10px;
    margin: 10px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-percent-1{
    font-size: 53px;
}

#hero-1-content{
    background-image: url('./images/sidebar_promo_1.jpg');
}

#hero-2-content{
    background-image: url('./images/sidebar_promo_2.jpg');
}

.hero-inner{
    background-color: #202020da;
    padding: 50px;
    margin: 95px 0;
    color: #fff;
    border: 2px solid #937c6f;
    border-radius: 5px;
    outline: none;
}

.hero-1-inner-percent{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
}

.hero-1-inner-title{
    font-size: 22px;
    color: #937c6f;   
}

#hero-percent-text{
    margin: auto 6px;
}

#hero-1-inner-btn{
    width: fit-content;
    padding: 5px 15px;
    margin: 3px auto;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #937c6f;
    color: #fff;
}

#hero-1-inner-btn:hover{
    background-color: #aeaeae;
    color: #202020;
}

.hero-2-info{
    margin: 80px 0;
}


/* News Subscribe: this style was copied from homepage */

.news-text-subtitle{
    color: #fff;
    text-transform: uppercase;
    font-size: 19px; 
}

.news-text-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 62px;   
}

#news-form-search{
    font-size: 13px;
    background: #fff;
    padding: 12px 0px 12px 20px;
    width: 100%;
    border: none;
    outline: none;
}

#news-form-btn{
    background-color: #937c6f;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    transition: all 300ms ease-in;
    padding: 10px 30px;
}

#news-form-btn:hover{
    background-color: #aeaeae;
    color: #000;
}

.news{
    padding: 50px;
    margin: 0 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/newsletter.jpg');   
}

.news-text-info{
    font-size: 13px;
    margin: 0 50px;
}

#contain-2{
    padding: 30px 50px;
    margin: 50px 0;
}
.news-inner{
    padding-bottom: 50px;
    padding-top: 40px;
}

#row-10{
    padding: 20px 0;
}

.news-form-text{
    margin-top: 40px;
    padding: 0 50px;
}

#news-form{
    margin: 30px 50px;
}


/* footer section : this page was copied from the homepage*/

#contain-3{
    padding: 0 50px;
}

.footer-content{
    padding: 30px 50px 0 50px;
}

#footer-title{
    font-size: 56px;
    text-transform: capitalize;
    color: #2f2f2f;
}

#footer-link{
    color: #2f2f2f;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 600;
    transition: all 300ms ease-in;
}

#footer-link:hover{
    color: #937c6f;
}

#footer-img-link{
    color: #937c6f;
    font-size: 25px;
    margin-left: 16px;
    transition: all 300ms ease-in;
}

#footer-img-link:hover{
    color: #aeaeae;
}

.footer-info{
    font-size: 14px;
}

#foot-img{
    margin: 40px 0;
}



/* mobile response */
@media screen and (max-width: 768px) {

    /* NAVBAR SECTION */
    #nav-link{
        display: none;
    }

    .pane{
        margin: 0;
    }

    #contain{
        width: fit-content;
        justify-self: flex-end;
    }

    #nav{
        padding: 17px 20px 20px 16px;
        display: flex;
        justify-content: space-between;
    }

    .offcanvas{
        width: 100%;
    }

    .inner-down{
        font-size: 32px;
        font-weight: 400;
    }

    .promo-title{
        font-size: 33px;
    }

    
    #carousel-next-btn{
        display: none;
    }

    .nav-img-link img{
        width: 20px;
        height: 20px;
    }

    #badge{
        width: auto;
        text-align: center;
        height: auto;
    }

    #brand-name{
        font-size: 30px;
    }

    /* fashion-select */

    #hero-select-2{
        width: 40%;
    }


    /* hero section */
    .arrival-text-info-img img{
    width: 30px;
    height: 30px;
    padding: 5px;
    }

    .arrival-text-info-img-add{
        height: 30px;
        width: 30px;
        padding: 6px;
    }

    #arrival-text-info-link-2{
        font-size: 17px;
    }

    .arrival-text-info-link{
        font-size: 13px;
        margin-right: 5px;
    }

    .arrival-text-info-img{
    gap: 5px;
    margin-right: -5px;
    }

    .rating{
        font-size: 10px;
    }


    /* Fashion section */
    #hero-select-2{
        width: 100%;
    }

    /* News subscribe */

    .news-text-title{
        font-size: 26px;
    }

    .news-text-subtitle{
        font-size: 14px;
    }

    #news-form{
        background-color: none;
        display: flex;
        flex-direction: column;
        margin: 30px 30px;
    }

    #news-form-search{
        background-color: #fff;
        padding: 8px 0px 8px 8px;
        width: 100%;
        font-size: 12px;
    }

    #news-form-btn{
        width: fit-content;
        /* font-size: 8px; */
        margin: 5px auto;
        font-size: 12px;
        padding: 3px 10px;
    }

    .news{
        padding: 10px;
        margin: 0 10px;
    }

    .news-text-info{
        font-size: 11px;
        margin: auto;
        text-align: center;
        justify-content: center;
    }

    #contain-2{
        padding: 10px 0px;
    }
    .news-inner{
        padding-bottom: 40px;
        padding-top: 35px;
    }

    #row-10{
        padding: 15px 0;
    }

    .news-form-text{
        margin-top: 40px;
        padding: 0 10px;
    }


    /* FOOTER SECTOIN */
    #footer-img-link{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
    }


    #contain-3{
        padding: 0 10px;
    }

    .footer-content{
        padding: 10px 10px 0 10px;
    }

    #footer-title{
        font-size: 43px;
    }

    #footer-link{
        letter-spacing: 2px;
        font-size: 12px;
    }

    #footer-img-link{
        font-size: 20px;
        margin-left: 5px;
    }

    .footer-info{
        font-size: 12px;
    }

    #foot-img{
        margin: 30px 0;
    }



}


 @media screen and (max-width: 425px) {
    /* Fashion -section */
    #hero-select-2{
        width: 70%;
        margin-top: 10px;
    }

    /* hero section */
    .arrival-text-info-img img{
    width: 40px;
    height: 40px;
    padding: 8px;
    }


    .arrival-text-info-img-add{
        height: 40px;
        width: 40px;
        padding: 10px;
    }

    #arrival-text-info-link-2{
        font-size: 20px;
    }

    .arrival-text-info-link{
        font-size: 16px;
        margin-right: 0px;
    }

    .arrival-text-info-img{
        gap: 10px;
        margin-right: 0;
        margin-top: 3px;
    }

    .rating{
        font-size: 12px;
    }


} 
